<div class="container">
  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
      <h3>Número do pedido: {{id}}</h3>
    </div>
  </div>

  <br />

  <div class="bg-light p-5">
    <h5>Detalhes da compra</h5>

    <br />

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Endereço</th>
          <th scope="col">Número</th>
          <th scope="col">Complemento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{compra[0].endereco}}</td>
          <td>{{compra[0].numero}}</td>
          <td>{{complemento[0].complemento}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>