<div class="fixed-top">

  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <a routerLink="/home" class="navbar-brand">
        <img class="logo" src="/assets/logo.png" />
      </a>
      <a href="#"><img src="/assets/packe.png" />
        <div class="circle-carrinho">
          <span>0</span>
        </div>
      </a>
    </div>
  </nav>

  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/home"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/restaurantes">Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/diversao">Diversão</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/cadastro">Cadastro</a>
        </li>
      </ul>
    </div>
  </div>

</div>

<div class="banner">
  <!-- <img src="/assets/banners/img_1.jpg" /> -->
</div>