<div class="fixed-top">
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img class="logo" src="/assets/logo.png" />
      </a>
      <a href="#"><img src="/assets/packe.png" />
        <div class="circle-carrinho">
          <span>0</span>
        </div>
      </a>
    </div>
  </nav>

  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Diversão</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cadastro</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <!-- <img src="/assets/banners/img_1.jpg" /> -->
</div>