<div class="container">

  <div class="secao">
    <h3 class="text-center mb-4">Restaurantes</h3>

    <div [ngClass]="isLoading ? 'loading' : ''">
      <ng-container *ngFor="let oferta of ofertas">

        <div class="card flex-row mb-4">
          <img [src]="oferta.imagens[0].url" />

          <div class="ml-4">
            <h4 [innerText]=oferta.titulo></h4>

            <h5 [innerText]=oferta.descricao_oferta></h5>

            <p class="preco"> {{oferta.valor | currency:'BRL':true}} </p>

            <p>Anunciado por: <b [innerText]=oferta.anunciante></b> <span> ({{oferta.estado}} -
                {{oferta.cidade}})</span>
            </p>

            <button [routerLink]="['/oferta', oferta.id]" class="btn btn-primary">Ver oferta</button>
          </div>
        </div>

      </ng-container>
    </div>

  </div>

</div>